*{
  margin: 0;
  padding: 0;
}
.container{
     background-color: #131313;
     height: 915px;
     width: 412px;
     font-family: Roboto;
}

.top{
  width: 412px;
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #222327;
  color: white;
  display: flex;
  gap: 10px;
  justify-content: left;
  align-items: center;
  /* border: 2px solid bisque; */
  padding-top: 10px;
  padding-bottom: 10px;
}


.gr{
  display: flex;
  gap: 15px;
  align-items: center;
  margin-left: 10px;
  margin-right: 100px;
}

.hr {
  /* margin-right: 10px; */
  font-size: 25px;

  
}
.hi{
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.fa{
  font-size: 40px;
  /* text-align: center; */
  /* display: flex */
;
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  /* border: 2px solid white; */
  border-radius: 50px;
  text-align: center;
  background-color: #008979;
  color: #bfedec;
  width: 45px;
  height: 45px;
  text-align: center;
  display: flex;

  justify-content: center;
  align-items: end;
}
.timing{
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.bubble{
  padding: 15px;
  /* border: 2px solid white; */
  width: 200px;
  background-color: #303030;
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 170px;
  margin-top: 40px;
  border-radius: 30px;
  color: white;
}

.gy{
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.gt{
display: flex;
flex-direction: column;
gap: 10px;

}
.ki{
  display: flex;
  align-items: center;
  gap: 4px;
}

.gtr{
  font-size: 16px;
}
.ki svg{
  color: green;
  
}

.last{
  display: flex;
  gap: 10px;
margin-top: 330px;
margin-left: 220px;
color: white;
}

.o{
  /* padding: 20px; */
  background-color: #a8c8fb;
  border-radius: 50px;
  color: black;
  text-align: center;

}
/* */
.r{
  color:#7d7e82  ;
}
.p{
  width: 80px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  
}
.y{
  width: 90px;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ty{
  font-size: 10px;
  color: white;
}

.gray{
 
  border-radius: 10px;
  background-color: #475061;
  height: 70px;
  margin-top: 20px;
  
}

.wa{
  height: 150px;
  width: 200px;                                                   
  display: flex;
  justify-content: space-between;
  gap: 10px;
}


/* .blue{
  width: 50px;
  height: 80px;
  background-color: #475061  ;
} */

.max{
  font-size: 10px;
}

.ra{
  /* color: #adadad; */
}
.blue{
  color: aliceblue;
  background-color: #4484f2;
  width: 131px;
  height: 84px;
  position: relative;
  bottom: -3px;
  top: -14px;
  right: 28px;
  left: 36px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}